<div
  class="h-[100vh] w-[100vw] flex justify-center items-center top-background-color text-cyan-100"
>
  <div class="h-[70%] w-[80%] flex">
    <div class="w-[50%] h-[100%] flex items-start justify-center flex-col">
      <div class="h-[30%]">
        <p>
          <strong>Welcome To</strong>
        </p>
        <h1>pizzario</h1>
      </div>
      <a routerLink="home"><button>Buy Now</button></a>
    </div>
    <div class="w-[50%] h-[100%] flex items-center justify-center">
      <img
        src="assets/Bg-t-pizza.png"
        alt="Pizza Image"
        class="max-h-full bg-transparent"
      />
    </div>
  </div>
</div>
<div class="login-page-background-picture"></div>
